In [2]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_excel(r'C:\Users\olibh\OneDrive\Desktop\TRI US 2024.xlsx')

In [14]:
df.head(3)

,1. YEAR,4. FACILITY NAME,5. STREET ADDRESS,6. CITY,7. COUNTY,8. ST,9. ZIP,15. PARENT CO NAME,17. STANDARD PARENT CO NAME,18. FOREIGN PARENT CO NAME,...,113. 8.2 - ENERGY RECOVER ON,114. 8.3 - ENERGY RECOVER OF,115. 8.4 - RECYCLING ON SITE,116. 8.5 - RECYCLING OFF SIT,117. 8.6 - TREATMENT ON SITE,118. 8.7 - TREATMENT OFF SITE,119. PRODUCTION WSTE (8.1-8.7),120. 8.8 - ONE-TIME RELEASE,121. PROD_RATIO_OR_ ACTIVITY,122. 8.9 - PRODUCTION RATIO
0,2024,CHEVRON PHILLIPS CHEMICAL CO LP,9500 IH-10 E,BAYTOWN,HARRIS,TX,77521,CHEVRON PHILLIPS CHEMICAL CO LLC,CHEVRON PHILLIPS CHEMICAL CO LLC,NaN,...,0.0,1810.0,0.0,0.0,839526.0,2551.0,894479.0,NaN,PRODUCTION,0.87
1,2024,POLYNT COMPOSITES USA INC. (FORMERLY PCCR USA),99 E COTTAGE AVE,CARPENTERSVILLE,KANE,IL,60110,NaN,POLYNT COMPOSITES USA INC,NaN,...,0.0,14112.0,0.0,1085.0,18621.0,0.0,34937.0,NaN,PRODUCTION,0.94
2,2024,FREUDENBERG-NOK SEALING TECHNOLOGIES,450 PLEASANT ST,BRISTOL,GRAFTON,NH,3222,FREUDENBERG-NOK GENERAL PTNR,FREUDENBERG-NOK GENERAL PTNR,FREUDENBERG & CO KOMMANDITGESELLSCHAFT,...,0.0,0.0,0.0,0.0,0.0,0.0,2571.0,NaN,PRODUCTION,0.96

In [ ]:
## Let's clean the data and select only the Defense contractors

In [18]:
companies = ["BAE", "LOCKHEED", "NORTHROP"]

df_filtered = df[
    df["17. STANDARD PARENT CO NAME"]
    .astype(str)
    .str.upper()
    .str.contains('|'.join(companies), na=False)]

In [19]:
df_filtered.head(3)

,1. YEAR,4. FACILITY NAME,5. STREET ADDRESS,6. CITY,7. COUNTY,8. ST,9. ZIP,15. PARENT CO NAME,17. STANDARD PARENT CO NAME,18. FOREIGN PARENT CO NAME,...,113. 8.2 - ENERGY RECOVER ON,114. 8.3 - ENERGY RECOVER OF,115. 8.4 - RECYCLING ON SITE,116. 8.5 - RECYCLING OFF SIT,117. 8.6 - TREATMENT ON SITE,118. 8.7 - TREATMENT OFF SITE,119. PRODUCTION WSTE (8.1-8.7),120. 8.8 - ONE-TIME RELEASE,121. PROD_RATIO_OR_ ACTIVITY,122. 8.9 - PRODUCTION RATIO
34,2024,NORTHROP GRUMMAN SYSTEMS CORP - PROMONTORY,9160 N HWY 83,PROMONTORY,BOX ELDER,UT,84307,NORTHROP GRUMMAN CORP,NORTHROP GRUMMAN CORP,NaN,...,0.0,0.0,0.0,0.00,16917.77,0.0,16941.29,NaN,PRODUCTION,1.06
541,2024,BAE SYSTEMS,163 ROCHESTER DR,LOUISVILLE,JEFFERSON,KY,40214,BAE SYSTEMS INC,BAE SYSTEMS INC,NaN,...,0.0,0.0,0.0,80354.24,0.00,0.0,80379.62,NaN,PRODUCTION,0.99
3208,2024,NORTHROP GRUMMAN SYSTEMS CORP,401 E HENDY AVE,SUNNYVALE,SANTA CLARA,CA,94086,NORTHROP GRUMMAN CORP,NORTHROP GRUMMAN CORP,NaN,...,0.0,0.0,0.0,19330.70,0.00,0.0,19414.27,NaN,ACTIVITY,1.08

In [ ]:
##let's keep the columns that we need

In [21]:
df_clean = df_filtered[[
    "1. YEAR",
    "4. FACILITY NAME",
    "6. CITY",
    "8. ST",
    "17. STANDARD PARENT CO NAME",
    "37. CHEMICAL",
    "51. 5.1 - FUGITIVE AIR",
    "52. 5.2 - STACK AIR"
]]

In [22]:
df_clean.head(2)

,1. YEAR,4. FACILITY NAME,6. CITY,8. ST,17. STANDARD PARENT CO NAME,37. CHEMICAL,51. 5.1 - FUGITIVE AIR,52. 5.2 - STACK AIR
34,2024,NORTHROP GRUMMAN SYSTEMS CORP - PROMONTORY,PROMONTORY,UT,NORTHROP GRUMMAN CORP,Nitroglycerin,0.00,0.0
541,2024,BAE SYSTEMS,LOUISVILLE,KY,BAE SYSTEMS INC,Copper,6.66,7.4

In [24]:
df_clean.shape

(94, 8)

In [26]:
import warnings
from warnings import filterwarnings
filterwarnings("ignore")

In [27]:
df_clean["51. 5.1 - FUGITIVE AIR"] = pd.to_numeric(
    df_clean["51. 5.1 - FUGITIVE AIR"], errors="coerce"
)

df_clean["52. 5.2 - STACK AIR"] = pd.to_numeric(
    df_clean["52. 5.2 - STACK AIR"], errors="coerce"
)

In [29]:
df_clean.head(3)

,1. YEAR,4. FACILITY NAME,6. CITY,8. ST,17. STANDARD PARENT CO NAME,37. CHEMICAL,51. 5.1 - FUGITIVE AIR,52. 5.2 - STACK AIR
34,2024,NORTHROP GRUMMAN SYSTEMS CORP - PROMONTORY,PROMONTORY,UT,NORTHROP GRUMMAN CORP,Nitroglycerin,0.00,0.0
541,2024,BAE SYSTEMS,LOUISVILLE,KY,BAE SYSTEMS INC,Copper,6.66,7.4
3208,2024,NORTHROP GRUMMAN SYSTEMS CORP,SUNNYVALE,CA,NORTHROP GRUMMAN CORP,Chromium and Chromium Compounds(except for ch...,0.00,0.0

In [30]:
df_clean["air_emissions_lbs"] = (
    df_clean["51. 5.1 - FUGITIVE AIR"].fillna(0) +
    df_clean["52. 5.2 - STACK AIR"].fillna(0)
)

In [31]:
df_clean = df_clean.drop(columns=[
    "51. 5.1 - FUGITIVE AIR",
    "52. 5.2 - STACK AIR"
])

In [32]:
df_clean.columns = [
    "year",
    "facility_name",
    "city",
    "state",
    "parent_company",
    "chemical",
    "air_emissions_lbs"
]

In [33]:
df_clean = df_clean[df_clean["air_emissions_lbs"] > 0]
df_clean = df_clean.drop_duplicates()

In [34]:
df_clean.head(15)

,year,facility_name,city,state,parent_company,chemical,air_emissions_lbs
541,2024,BAE SYSTEMS,LOUISVILLE,KY,BAE SYSTEMS INC,Copper,14.06
4401,2024,NORTHROP GRUMMAN SYSTEMS CORP,SUNNYVALE,CA,NORTHROP GRUMMAN CORP,Ammonia,998.66
4517,2024,NORTHROP GRUMMAN SYSTEMS CORP (NEW RIVER ENERG...,RADFORD,VA,NORTHROP GRUMMAN CORP,Nitroglycerin,22683.00
5423,2024,US AIR FORCE PLANT 4 LOCKHEED MARTIN AERONAUTI...,FORT WORTH,TX,LOCKHEED MARTIN CORP,Naphthalene,439.18
7202,2024,NORTHROP GRUMMAN SYSTEMS CORP (NEW RIVER ENERG...,RADFORD,VA,NORTHROP GRUMMAN CORP,Nitrate compounds (water dissociable; reportab...,116.80
7748,2024,BAERLOCHER USA,DOVER,OH,BAERLOCHER CHEMICALS OF NORTH AMERICA INC,Barium compounds (except for barium sulfate (C...,8.28
9513,2024,BAE SYSTEMS JACKSONVILLE SHIP REPAIR LLC,JACKSONVILLE,FL,BAE SYSTEMS INC,Aluminum oxide (fibrous forms),57570.00
10030,2024,SIKORSKY AIRCRAFT STRATFORD FACILITY,STRATFORD,CT,LOCKHEED MARTIN CORP,Methanol,261.00
11036,2024,ALLEGANY BALLISTICS LAB (NIROP),ROCKET CENTER,WV,NORTHROP GRUMMAN CORP,Copper compounds,1816.00
11169,2024,NORTHROP GRUMMAN SYSTEMS CORP,LINTHICUM HEIGHTS,MD,NORTHROP GRUMMAN CORP,"Sulfuric acid (acid aerosols including mists, ...",31.00
12088,2024,US AIR FORCE PLANT 4 LOCKHEED MARTIN AERONAUTI...,FORT WORTH,TX,LOCKHEED MARTIN CORP,Toluene,30924.90
12456,2024,BAE SYSTEMS JACKSONVILLE SHIP REPAIR LLC,JACKSONVILLE,FL,BAE SYSTEMS INC,Xylene (mixed isomers),4192.00
14557,2024,LOCKHEED MARTIN RMS,OWEGO,NY,LOCKHEED MARTIN CORP,Copper And Copper Compounds,314.00
15103,2024,LOCKHEED MARTIN RMS,OWEGO,NY,LOCKHEED MARTIN CORP,Nitrate compounds (water dissociable; reportab...,10.00
17147,2024,LOCKHEED MARTIN AERONAUTICS CO,PALMDALE,CA,LOCKHEED MARTIN CORP,Toluene,390.00